body {
    width: 75%;
    min-width: 1100px;
    margin: auto;
}

.controls, .cameraArea, .poseNetOutput, .scoreOutput {
    padding: 10px;
}

.column, .controls button {
    display: inline-block;
    vertical-align: top;
}